@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/pagination';



@theme {
  --color-custom: #36c4c5;
  --color-main-bg:#080016;
  --color-orange:#D06026;
  --color-white-color:#FEF7FF;
  --color-light-purple:#C4BCFC;
  --color-dark-gray:#fbfbfb4a;
  --color-light-gray:#fbfbfb1a;
  --color-dark-pink:#501665;
  --color-light-pink:#63348A;

  --container-md: 768px;
}
@layer theme {
  .dark {
    --color-white-color: #1D0B4D;
    --color-main-bg: #FEF7FF;
    --color-light-purple:#1D0B4D;
    --color-dark-gray:#c4bcfcb8;
    --color-light-gray:#c4bcfc33;
    --color-dark-pink:#E0D2F3;
    --color-light-pink:#E0D2F3;
  }
}

@font-face {
  font-family: "iran-sans";
  src: url("../public/fonts/IRANSansX-Regular.woff") , 
  url("../public/fonts/IRANSansX-Regular.woff") 
  format("woff") ;

}

body {
  font-family:"iran-sans" ;
}
.container{
  max-width: 850px;
  width: 92%;
  margin-left: auto;
  margin-right: auto;
}
/* HERO START */
html:not(.dark) .bg-hero{
  filter: brightness(.1);
    background-image: url("../public/assets/BG2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #c266ff;
}
html.dark .bg-hero{
  background-image: url("../public/assets/bg-white-left.png" ) , url("../public/assets/bg-white-right.png");
  width: 100%;
  height: 296px;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: left, right;
}
/* HERO END*/

/* SERVICES START */
html:not(.dark) .services-bg{
  background-image:url("../public/assets/Services-bg.png") ;
}
html.dark .services-bg{
  background-image:url("../public/assets/Services-bg-2.png") ;
}
/* SERVICES END */
/* ABOUT START */
html:not(.dark) .bg-stars-one{
  background-image: url("../public/assets/sTARS\ 1.png");
}
html.dark  .bg-stars-one{
  background-image: url("../public/assets/sTARS1-light.png");
}
/* ABOUT END */
/* INFO START */
html:not(.dark) .bg-info {
  background-image: url("../public/assets/Avesta achievements.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
html.dark .bg-info{
  background-image: url("../public/assets/Avesta achievements-1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
/* INFO END */
/* section 2 */
.bg-stars-two{
  background-image: url("../public/assets/sTARS-2.png");
}
/* CART START */
html:not(.dark) .cart-item{
  border-radius: 14px;
  background: linear-gradient(274deg, #e168f840, #e168f81c, #e168f808);
  border-right: 1px solid #E168F8;
}
html.dark .cart-item{
  background: #e168f81c ; 
  border-right: 1px solid #E168F8;
}
/* CART END */
/* TABS TARTS */

html:not(.dark) .out-bg{
  background-image: url("../public/assets/documents/certificationContainer.png");
  background-repeat: no-repeat;
  background-size: cover;
}
html.dark .out-bg{
  background-image: url("../public/assets/documents/certificationContainer-1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
html:not(.dark) .inner-bg{
  background-image: url("../public/assets/documents/innerBg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
html.dark .inner-bg{
  background-image: url("../public/assets/documents/Bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
/* TABS END */
/* MANAGERS START */
html:not(.dark) .mngs-swiper-bg{
  background: radial-gradient(40% 42%, #b9b2f46e -101%, transparent);
  background-position: 67px 39px;
}
html.dark .mngs-swiper-bg{
  background-color: #F4EFFB;
}
.swiper-pagination{
  margin-top: 10px;
  margin-bottom: 10px;
  position: static !important;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active{
  background-color: #B0A7C0 !important;
}
 .swiper-pagination-bullet:not(.swiper-pagination-bullet-active){
  background-color: #908bd177;
}

/* MANAGERS END  */
/* FOOTER START */
html:not(.dark) .footer-bg{
  background-image: url("../public/assets/footer/Desktop.png");
  min-height: 600px;
}
html.dark .footer-bg{
  background-image: url("../public/assets/footer/Desktop1.png");
  min-height: 600px;
}
/* FOOTER END */

@media screen and (max-width:768px) {
  html:not(.dark) .bg-info , html.dark .bg-info{
    background-position: right -209px bottom 38px;
    background-size: 1226px;
  }
  html:not(.dark) .footer-bg , html.dark .footer-bg{
    background-position: left -101px top 0px;
    background-size: 1500px;
    background-repeat: no-repeat;
    min-height: unset;
  }
}